.restaurant-card {
  width: 490px;
  height: 251px;
  background: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.restaurant-card:hover {
    transform: scale(1.05);
}

.card-image{
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.card-content {
  padding-left: 30px; 
  padding-top: 10px; 
  padding-bottom: 10px; 
}

.card-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  margin: 0; 
}

.card-location {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: #000000;
  margin: 5px 0 0 0; 
}

.badge-nouveau {
  position: absolute;
  top: 15px;    
  right: 15px;

  background: #99E2D0; 
  color: #008766;      
  padding: 7px 15px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
}

.heart-button {
  position: absolute;
  right: 25px;
  bottom: 33px;
  width: 22px;
  height: 21px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.heart-icon {
  width: 22px;
  height: 21px;
  color: transparent; 
  stroke: #101010; 
  stroke-width: 30px; 
  transition: all 0.3s ease;
}

.heart-icon.liked {
  color: #9356DC; 
  stroke: none; 
}