.restaurant-card {
  width: 490px;
  height: 251px;
  background: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.restaurant-card:hover {
    transform: scale(1.05);
}

.card-image{
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.card-content {
  padding-left: 30px; /* ✅ Bon */
  padding-top: 10px; /* Ajoute un peu d'espace en haut aussi */
  padding-bottom: 10px; /* Et en bas pour respirer */
}

.card-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  margin: 0; /* Enlève les marges par défaut */
}

.card-location {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: #000000;
  margin: 5px 0 0 0; /* Petit espace avec le titre */
}

.badge-nouveau {
  position: absolute;
  top: 15px;    
  right: 15px;

  background: #99E2D0; 
  color: #008766;      
  padding: 7px 15px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
}